<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQesUwAOfg-dg0WWNwEnkYQVB0jBHC5jM</string>
	<key>GCM_SENDER_ID</key>
	<string>491523961463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bshg.fixe</string>
	<key>PROJECT_ID</key>
	<string>stay-interview-personal</string>
	<key>STORAGE_BUCKET</key>
	<string>stay-interview-personal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491523961463:ios:8438fb59e6d06ec4130c72</string>
	<key>DATABASE_URL</key>
	<string>https://stay-interview-personal-default-rtdb.firebaseio.com</string>
</dict>
</plist>